@import "./variabls";

.custom-container {
  margin: auto;
  padding: 1rem;

  @include xxxl {
    max-width: 1900px;
  }

  .main-hero-section {
    .row {
      .col-md-6 {
        padding: 0;
        .h-lef-sec {
          @include rAlcommon;
          img {
            @include heroImage;
          }
          h2 {
            @include heroTitle;
          }

          &::before {
            @include beforeElement;
          }
        }

        .h-right-sec {
          @include rAlcommon;
          .h-r-top {
            position: relative;

            &::before {
              @include beforeElement;
            }
            img {
              @include heroImage;
            }
            h2 {
              @include heroTitle;
            }
          }
          .h-r-bottom {
            position: relative;

            &::before {
              @include beforeElement;
            }
            img {
              @include heroImage;
            }
            h2 {
              @include heroTitle;
            }
          }
        }
      }
    }
  }

  .section-two-main {
    margin: 6rem 0;
    .section-two {
      h1 {
        @include sectionHead;
      }
      p {
        text-align: center;
        color: #000;
        font-size: 22px;
        margin: 2rem 0;
        @include sm {
          font-size: 13px;
          margin: 1rem 0;
        }
        @include md {
          font-size: 16px;
          margin: 1rem 0;
        }
        @include l {
          font-size: 14px;
          margin: 1.5rem 0;
        }
        @include xxl {
          font-size: 22px;
          margin: 2rem 0;
        }
      }
      @for $i from 1 through 2 {
        .section-two-card#{$i} {
          background-color: #f2f2f2;
          padding: 2rem;
          border-radius: 40px;

          .row {
            .col-md-4 {
              display: flex;
              justify-content: center;
              align-items: center;

              .each-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #fff;
                padding: 2rem;
                border-radius: 60px;
                box-shadow: 5px 5px 7px #b8b8b8, -5px -5px 7px #ffffff;
                cursor: pointer;
                transition-duration: 0.3s;
                &:hover {
                  box-shadow: none;
                }

                @include sm {
                  margin: 1rem 0;
                  border-radius: 40px;
                }
                @include md {
                  padding: 1rem;
                  border-radius: 30px;
                }
                @include l {
                  padding: 2rem;
                  border-radius: 60px;
                }

                img {
                  width: 300px;
                  height: 300px;
                  border-radius: 99%;
                  object-fit: cover;
                  margin-bottom: 1rem;
                  @include sm {
                    width: 200px;
                    height: 200px;
                  }
                  @include md {
                    width: 150px;
                    height: 150px;
                  }
                  @include l {
                    width: 235px;
                    height: 235px;
                  }
                  @include xxl {
                    width: 300px;
                    height: 300px;
                  }
                }
                h4 {
                  text-align: center;
                  color: black;

                  @include md {
                    font-size: 16px;
                    font-weight: 600;
                  }
                  @include l {
                    font-size: 23px;
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }

      .section-two-card2 {
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 40px;

        .row {
          .col-md-4 {
            display: flex;
            justify-content: center;
            align-items: center;

            .each-card {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background: #fff;
              padding: 2rem;
              border-radius: 0;
              box-shadow: none;
              cursor: default;

              @include sm {
                padding: 0;
              }
              @include md {
                padding: 2rem;
              }
              img {
                width: 200px;
                height: 200px;
                border-radius: 0;
                object-fit: cover;
                margin-bottom: 1rem;

                @include md {
                  width: 100px;
                  height: 100px;
                }
                @include l {
                  width: 200px;
                  height: 200px;
                }
              }
              h4 {
                text-align: center;
                color: black;
                font-size: 20px;
                font-weight: 700;

                @include md {
                  font-size: 16px;
                  font-weight: 600;
                }
                @include l {
                  font-size: 20px;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
      h3 {
        font-size: 35px;
        text-align: center;
        font-weight: 500;
        color: #000;
        margin-top: 6rem;

        @include sm {
          font-size: 25px;
        }
        @include md {
          font-size: 28px;
        }
        @include l {
          font-size: 35px;
        }
      }
    }
  }

  .section-three-main {
    .section-three {
      h1 {
        @include sectionHead;
      }
      .button-grupe {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;

        .main-btn {
          background-color: #d9d9d9;
          padding: 0.5rem 0.2rem;
          border-radius: 0.5rem;

          @include sm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 0.5rem;
          }
          @include md {
            flex-direction: row;
          }
          button {
            background-color: #fff;
            box-shadow: none;
            border-radius: 0.5rem;
            padding: 0.3rem 4rem;
            margin: 0 0.7rem;
            transition-duration: 300ms;
            width: 350px;
            font-weight: 700;

            @include sm {
              margin: 5px 0;
            }
            @include md {
              width: 190px;
              font-weight: 700;
              font-size: 10px;
              padding: 0.3rem 0;
              margin: 0 5px;
            }
            @include l {
              width: 290px;
              font-weight: 700;
              font-size: 10px;
            }
            @include xl {
              width: 350px;
              font-weight: 700;
              font-size: 13px;
            }

            &:hover {
              background-color: $green-col;
              color: #fff;
            }
            &:active {
              background-color: $green-col;
              color: #fff;
            }
            &:focus {
              background-color: $green-col;
              color: #fff;
            }
          }
        }
      }
      .hr-d {
        @include hr-devider;
      }
      .blog-card-sec {
        .row {
          .col-md-3 {
            .each-card {
              margin: 1rem;
              img {
                width: 100%;
              }
              .tag {
                font-size: 12px;
                text-transform: uppercase;
                font-style: italic;
                font-weight: bold;
                color: $gray-light-col;
              }
              h5 {
                @include md {
                  font-size: 12px;
                  font-weight: 600;
                }
                @include l {
                  font-size: 14px;
                  font-weight: 600;
                }
                @include xl {
                  font-size: 16px;
                  font-weight: 700;
                }
                @include xxl {
                  font-size: 18px;
                  font-weight: 700;
                }
              }
              .subtitle {
                @include md {
                  font-size: 10px;
                  font-weight: 500;
                }
                @include l {
                  font-size: 12px;
                  font-weight: 500;
                }
                @include xl {
                  font-size: 14px;
                  font-weight: 600;
                }
                @include xxl {
                  font-size: 16px;
                  font-weight: 600;
                }
              }
            }
          }

          .slick-dots {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;

            li {
              &.slick-active {
                button {
                  color: $ppl-col;
                }
              }
              button {
                background-color: #fff;
                border: none;
                outline: none;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .section-four-main {
    margin: 6rem 0;
    .section-four {
      h1 {
        @include sectionHead;
      }
      .button-grupe {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;

        .main-btn {
          background-color: #d9d9d9;
          padding: 0.5rem 0.2rem;
          border-radius: 0.5rem;
          button {
            background-color: #fff;
            box-shadow: none;
            border-radius: 0.5rem;
            padding: 0.3rem 0;
            margin: 0 0.7rem;
            transition-duration: 300ms;
            width: 150px;
            font-weight: 700;
            cursor: default;
          }
          input {
            background-color: #fff;
            box-shadow: none;
            border-radius: 0.5rem;
            padding: 0.2rem 1rem;
            margin: 0 0.7rem;
            transition-duration: 300ms;
            width: 150px;
            font-weight: 700;
            outline: none;
            border: none;
            font-size: 13px;
            cursor: text;
          }
        }
      }
      .hr-d {
        @include hr-devider;
      }

      .maga-card {
        margin: 3rem 0;
        .row {
          .col-md-3 {
            .each-card {
              @include sm {
                margin: 1rem 0;
              }
              @include md {
                margin: 0;
              }
              img {
                object-fit: cover;
                height: 620px;
                width: 460px;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                @include sm {
                  height: 100%;
                  width: 100%;
                }
                @include md {
                  height: 220px;
                  width: 160px;
                }
                @include l {
                  height: 327px;
                  width: 240px;
                }
                @include xl {
                  height: 396px;
                  width: 284px;
                }
                @include xxl {
                  height: 450px;
                  width: 340px;
                }
              }
              h5 {
                color: #000;
                text-align: center;
                margin-top: 1rem;
                font-weight: 700;

                @include md {
                  font-weight: 700;
                  font-size: 12px;
                }
                @include l {
                  font-weight: 700;
                  font-size: 16px;
                }
                @include xl {
                  font-weight: 700;
                  font-size: 18px;
                }
                @include xxl {
                  font-weight: 700;
                  font-size: 20px;
                }
                @include xxxl {
                  font-weight: 700;
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
      .button-ex {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          background-color: $ppl-col;
          color: #fff;
          border-radius: 5px;

          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }

  .section-five-main {
    .section-five {
      h1 {
        @include sectionHead;
      }
      .button-grupe {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;

        .main-btn {
          background-color: #d9d9d9;
          padding: 0.5rem 0.2rem;
          border-radius: 0.5rem;

          @include sm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 0.5rem;
          }
          @include md {
            flex-direction: row;
          }
          button {
            background-color: #fff;
            box-shadow: none;
            border-radius: 0.5rem;
            padding: 0.3rem 4rem;
            margin: 0 0.7rem;
            transition-duration: 300ms;
            width: 350px;
            font-weight: 700;
            @include sm {
              margin: 5px 0;
            }
            @include md {
              width: 190px;
              font-weight: 700;
              font-size: 10px;
              padding: 0.3rem 0;
              margin: 0 5px;
            }
            @include l {
              width: 290px;
              font-weight: 700;
              font-size: 10px;
            }
            @include xl {
              width: 350px;
              font-weight: 700;
              font-size: 13px;
            }
            &:hover {
              background-color: $green-col;
              color: #fff;
            }
            &:active {
              background-color: $green-col;
              color: #fff;
            }
            &:focus {
              background-color: $green-col;
              color: #fff;
            }
            @include md {
              width: 190px;
              font-weight: 700;
              font-size: 10px;
              padding: 0.3rem 0;
            }
            @include l {
              width: 290px;
              font-weight: 700;
              font-size: 10px;
            }
            @include xl {
              width: 350px;
              font-weight: 700;
              font-size: 13px;
            }
          }
        }
      }
      .hr-d {
        @include hr-devider;
      }
      .section-two-card {
        background-color: #f2f2f2;
        padding: 2rem;
        border-radius: 40px;
        margin: 3rem 0;

        .row {
          .col-md-4 {
            display: flex;
            justify-content: center;
            align-items: center;

            .each-card {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background: #fff;
              padding: 2rem;
              border-radius: 60px;
              box-shadow: 5px 5px 7px #b8b8b8, -5px -5px 7px #ffffff;
              cursor: pointer;
              transition-duration: 0.3s;
              &:hover {
                box-shadow: none;
              }

              @include sm {
                margin: 1rem 0;
                border-radius: 40px;
              }
              @include md {
                padding: 1rem;
                border-radius: 30px;
              }
              @include l {
                padding: 2rem;
                border-radius: 60px;
              }
              img {
                width: 300px;
                height: 300px;
                border-radius: 99%;
                object-fit: cover;
                margin-bottom: 1rem;
                @include sm {
                  width: 200px;
                  height: 200px;
                }
                @include md {
                  width: 150px;
                  height: 150px;
                }
                @include l {
                  width: 235px;
                  height: 235px;
                }
                @include xxl {
                  width: 300px;
                  height: 300px;
                }
              }
              h4 {
                text-align: center;
                color: black;
                @include md {
                  font-size: 16px;
                  font-weight: 600;
                }
                @include l {
                  font-size: 23px;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }

      .button-ex {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          background-color: $ppl-col;
          color: #fff;
          border-radius: 5px;

          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }

  .section-six-main {
    margin: 6rem 0;
    .section-six {
      h1 {
        @include sectionHead;
        margin: 3rem 0;
      }
      .ins-card {
        background-color: #f2f2f2;
        border-radius: 40px;
        padding: 3rem;
        .row {
          .col-md-3 {
            .each-card {
              background-color: #fff;
              border-radius: 30px;
              margin: 0 1rem;
              img {
                width: 100%;
                border-top-right-radius: 30px;
                border-top-left-radius: 30px;
              }
              h5 {
                padding-top: 1rem;
                padding: 1rem 1.5rem;
                color: #000;
                font-weight: 700;

                @include l {
                  padding-bottom: 0;
                }
                @include xl {
                  padding-bottom: 1rem;
                }
              }
              .dis {
                padding: 0 1.5rem;
                padding-bottom: 2rem;
                color: #000;

                @include l {
                  font-size: 13px;
                }
                @include xl {
                  font-size: 16px;
                }
              }
            }
          }
        }

        .nextArro {
          position: absolute;
          right: -2.5rem;
          width: auto;
          top: 48%;
          font-size: 2.3rem;
          z-index: 10;
          cursor: pointer;
        }
        .prevArro {
          position: absolute;
          left: -2.5rem;
          width: auto;
          top: 48%;
          font-size: 2.3rem;
          z-index: 10;
          cursor: pointer;
        }
      }
    }
  }

  .section-seven-main {
    .section-seven {
      .desk-sec {
        display: block;
      }
      .desk-sec {
        display: none;
      }
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .s-7-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        .main-c {
          height: 100%;
          .s-7-slider {
            height: 100%;
            .main-slider {
              height: 100%;
              .row {
                height: 100%;
                .col-md-6 {
                  flex: 0 0 auto;
                  width: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    width: 65%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    height: 50%;
                    border-radius: 70px;
                    object-fit: cover;
                  }
                  h3 {
                  }
                }

                .title-section {
                  flex-direction: column;
                  display: flex;
                  align-items: flex-start;

                  h3 {
                    font-weight: 800;
                    font-size: 32px;
                    color: #000;
                  }
                  .button-ex {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 4rem;

                    button {
                      background-color: $ppl-col;
                      color: #fff;
                      border-radius: 5px;

                      &:hover {
                        box-shadow: none;
                      }
                    }
                  }
                }
              }
            }

            .slick-list {
              height: 100%;
              .slick-track {
                height: 100%;
              }
            }

            .slick-dots {
              position: absolute;
              right: 43%;
              top: 49%;
              display: flex;
              list-style: none;

              @include l {
                right: 37%;
                top: 52%;
              }
              @include xl {
                right: 39%;
              }
              @include xxl {
                right: 41%;
              }
              @include xxxl {
                right: 43%;
                top: 49%;
              }
              li {
                height: 0;
                button {
                  background-color: #fff;
                  border: none;
                  color: #fff;
                  height: 0;
                  font-size: 0;
                  padding: 0;

                  &::before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-color: #000;
                    display: flex;
                    border-radius: 99%;
                    margin: 0 5px;
                  }
                  &:hover {
                    &::after {
                      content: "";
                      width: 21px;
                      height: 21px;
                      display: flex;
                      border-radius: 99%;
                      margin: 0 5px;
                      position: absolute;
                      top: 0;
                      background-color: $ppl-col;
                    }
                  }
                }
              }

              .slick-active {
                &::after {
                  content: "";
                  width: 21px;
                  height: 21px;
                  display: flex;
                  border-radius: 99%;
                  margin: 0 5px;
                  position: absolute;
                  top: 0;
                  background-color: $ppl-col;
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 1024px) {
      .desk-sec {
        display: none;
      }
      .mob-sec {
        display: block;
      }
    }
    @media only screen and (min-width: 1024px) {
      .desk-sec {
        display: block;
      }
      .mob-sec {
        display: none;
      }
    }

    .section-seven {
      &.mob-sec {
        .mySwiper {
          swiper-slide {
            .c-w-logo-slider {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-bottom: 3rem;
              .logo {
                width: 100px;
              }
              h2 {
                @include sectionHead;
                @include md {
                  font-size: 28px;
                }
                margin: 1rem 0;
              }
              .title {
                font-size: 20px;
                color: #000;
                font-weight: 700;
                text-align: center;
              }
              .thumb {
              }
            }
          }
        }
        .button-ex {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 2rem;
          button {
            background-color: $ppl-col;
            color: #fff;
            border-radius: 5px;

            &:hover {
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  .section-eight-main {
    margin: 6rem 0;
    .section-eight {
      .row {
        .a-p-s-left {
          @include sm {
            width: 100%;
          }
          @include md {
            width: 50%;
          }
          .main-left-sec {
            margin: 1rem 5rem;
            border-radius: 60px;
            padding: 3rem;
            background-color: $gray-col;

            @include sm {
              margin: 0;
              margin-bottom: 3rem;
            }
            @include md {
              margin: 0;
            }
            @include l {
              margin: 1rem 1rem;
            }
            h1 {
              color: #000;
              font-weight: 900;
              font-size: 54px;

              @include sm {
                font-weight: 700;
                font-size: 27px;
              }
              @include md {
                font-weight: 700;
                font-size: 27px;
              }
              @include l {
                font-weight: 700;
                font-size: 47px;
              }
              @include xl {
                font-weight: 900;
                font-size: 54px;
              }
            }
            p {
              font-size: 28px;
              color: #000;
              margin-top: 2rem;
              @include sm {
                font-weight: 600;
                font-size: 18px;
                margin-top: 0.5rem;
              }
              @include md {
                font-weight: 600;
                font-size: 18px;
                margin-top: 0.5rem;
              }
              @include l {
                font-weight: 700;
                font-size: 28px;
                margin-top: 2rem;
              }
            }
            img {
              width: 100%;
            }
            .app-section {
              margin-top: 1.5rem;
              a {
                display: flex;
                align-items: center;
                justify-content: center;

                @include sm {
                  width: 50%;
                }

                img {
                  width: 300px;

                  @include sm {
                    width: 140px;
                  }
                  @include md {
                    width: 140px;
                  }
                  @include l {
                    width: 200px;
                  }
                  @include xl {
                    width: 300px;
                  }
                  @include xxl {
                    width: 400px;
                  }
                }
              }
            }
          }
        }

        .a-p-s-right {
          @include sm {
            width: 100%;
          }
          @include md {
            width: 50%;
          }
          img {
            width: 100%;
            display: flex;
            height: 100%;
            object-fit: contain;
            margin: auto;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
.section-nine-main {
  .section-nine {
    h1 {
      @include sectionHead;
      text-decoration: underline;
    }

    .slider-nine {
      #slider-2 {
        background-image: url(../img/s-9/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 1rem;
        padding-top: 6rem;
        h2 {
          @include sectionHead;
          color: #fff;
          margin-bottom: 3rem;
        }
        p {
          @include sectionHead;
          color: #fff;
          padding: 3rem;
          font-size: 30px;

          @include sm {
            font-weight: 700;
            font-size: 18px;
          }
          @include md {
            font-weight: 700;
            font-size: 18px;
          }
          @include l {
            font-weight: 700;
            font-size: 24px;
          }
          @include xl {
            font-weight: 700;
            font-size: 28px;
          }
          @include xxxl {
            font-weight: 700;
            font-size: 30px;
          }
        }
        .gallery-slider {
          .micro-slider {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
.section-ten-main {
  margin-top: 6rem;
  .section-ten {
    padding: 6rem 0;
    background-image: url(../img/s-10/Picture14.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1rem;
    h4 {
      @include sectionHead;
      padding-top: 10rem;
      margin-bottom: 3rem;
      color: #fff;
      font-size: 40px;
    }

    .news-slider {
      padding-bottom: 6rem;
      .main-n-slider {
        background-color: #fff;
        border-radius: 40px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        @include sm {
          width: 100%;
          border-radius: 10px;
        }
        @include md {
          width: 90%;
          border-radius: 40px;
        }
        @include l {
          width: 80%;
        }
        @include xl {
          width: 70%;
        }
        @include xxl {
          width: 60%;
        }
        @include xxl {
          width: 50%;
        }

        .main-slider {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          img {
            width: 308px;
            border-radius: 10px;
            height: 142px;
            margin-left: 1rem;
            @include sm {
              width: 150px;
              margin-left: 0;
            }
            @include md {
              width: 308px;
              margin-left: 1rem;
            }
          }
          .dis {
            padding: 1rem 2rem;
            @include sm {
              padding: 1rem 10px;
            }
            @include md {
              padding: 1rem 2rem;
            }
            img {
              width: 65px;
              height: 32px;
              border-radius: 0px;
              margin-left: 0;
              @include sm {
                width: 40px;
                height: 15px;
              }
              @include md {
                width: 65px;
                height: 32px;
              }
            }
            .newsTitle {
              font-size: 16px;
              font-weight: 700;
              color: #000;
              margin-bottom: 5px;
              @include sm {
                font-size: 12px;
              }
              @include md {
                font-size: 16px;
              }
            }
            .subtitle {
              font-size: 12px;
              font-weight: 500;
              color: #000;
              margin-bottom: 0px;
              @include sm {
                font-size: 10px;
              }
              @include md {
                font-size: 12px;
              }
            }
          }
        }

        .slick-arrow {
          font-size: 30px;
          cursor: pointer;
        }
      }

      .subSlider {
        width: 40%;
        margin: auto;
        @include sm {
          width: 100%;
        }
        @include md {
          width: 90%;
        }
        @include l {
          width: 80%;
        }
        @include xl {
          width: 70%;
        }
        @include xxl {
          width: 60%;
        }
        @include xxxl {
          width: 50%;
        }
        .row {
          .col-md-4 {
            .slider-main-s {
              background: #fff;
              margin: 1.5rem 0.5rem;
              padding: 0.5rem;
              border-radius: 30px;
              .logo {
                width: 44px;
                margin-bottom: 1rem;
              }
              .thumb {
                width: 100%;
              }
              .news-title {
                font-size: 13px;
                font-weight: 700;
                color: #000;
                margin-top: 1rem;
                margin-bottom: 5px;
              }
              .subTitle {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  .section-ten-two {
    padding-bottom: 6rem;
    display: flex;
    background-color: $gray-col;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      background: #fff;
      padding: 2rem;
      border-radius: 99%;
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: contain;
      margin-top: -6rem;
      margin-bottom: 3rem;
    }
    h3 {
      font-weight: 700;
      color: #000;
    }
    .partner-box {
      width: 100%;
      padding: 0 2rem;
      margin-top: 2rem;
      .row {
        .col-md-3 {
          .p-main-box {
            width: 100%;
            height: 150px;
            cursor: pointer;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: $commn-box-shadow;
            transition-duration: 0.3s;
            &:hover {
              box-shadow: none;
            }

            @include sm {
              margin: 1rem 0;
            }
            @include md {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
