@import "./variabls";
@mixin menuGlassE {
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
}

.c-main-nav {
  .c-left-nav {
    @include xsm {
      width: 40%;
    }
    @include l {
      width: auto;
    }
  }

  .nav-center {
    a {
      transition-duration: 300ms;

      &:hover {
        color: red !important;
      }
      &:active {
        color: red !important;
      }
      &:focus {
        color: red !important;
      }
    }
    @include xsm {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      margin-right: 0rem;
      .navbar-collapse {
        position: absolute;
        top: 5rem;
        left: 0;
        z-index: 10;
        background: #fff;
        right: 0;
        padding: 1rem;
      }
    }
    @include l {
      width: auto;
      margin: auto;
      .navbar-collapse {
        position: unset;
      }
    }

    .c-navbar-nav {
      margin: auto;
      .nav-item {
        .nav-link {
          color: #000;
          font-weight: 700;
          @include md {
            color: #000;
            font-weight: 700;
            font-size: 10px;
          }
          @include xl {
            color: #000;
            font-weight: 700;
            font-size: 16px;
          }
        }
      }
    }
  }

  .c-right-nav {
    @include xsm {
      display: none;
    }
    @include l {
      display: flex;
      align-items: center;
      justify-content: center;

      .c-left {
        div {
          button {
            font-size: 14px;
            font-weight: 600;
          }
          ul {
            li {
              a {
                font-size: 14px;
                font-weight: 600;
              }
            }
          }
        }
      }

      .c-right {
        div {
          display: flex;
          flex-direction: column;

          a {
            margin: 5px 0;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
