@import "./variabls";
/* Galerry Slider  */
.gallery-section {
  padding: 3rem 0;
}

.gallery-section .gallery-heading {
  text-align: center;
}

.section-header {
  display: block;
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.section-header h1 {
  color: #212121;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  padding: 0 0 24px;
  position: relative;
  z-index: 2;
}

.section-header h1:after {
  position: absolute;
  display: block;
  width: auto;
  height: 3px;
  bottom: 0;
  left: 20%;
  right: 20%;
  border-radius: 1px;
  content: "";
  z-index: 1;
  background: #e6e9ec;
}

section {
  padding-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.micro-slider {
  height: 480px;
  /* margin: 10px 0; */
  position: relative;
  width: 100%;
}

.micro-slider.fullwidth {
  height: 480px;
  /* margin: 64px 0; */
}

.micro-slider.fullwidth .slider-item {
  height: 480px;
  line-height: 480px;
  width: 100%;
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 0 50%;
}

.slider-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
  display: none;
  font-size: 72px;
  height: 520px;
  border-radius: 19px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 520px;
  cursor: pointer;
  border-radius: 10px;

  @include sm {
    width: 320px;
    height: 320px;
  }
  @include md {
    width: 420px;
    height: 420px;
  }
  @include l {
    width: 520px;
    height: 520px;
  }
}

/*
  .slider-item:not(.active) {cursor: pointer;}
  */
.indicators {
  bottom: 0px;
  left: 50%;
  list-style-type: none;
  margin: 0 0 0 -77px;
  padding: 0;
  position: absolute;
}

.indicators li {
  color: #fff;
  float: left;
  height: 16px;
  margin-right: 8px;
  text-align: center;
  width: 16px;
}

.indicators li:last-child {
  margin: 0;
}

.indicators a {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e6e9ec;
  color: #fff;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.indicators {
  display: none;
}
