@import "./variabls";
.custom-container {
  margin: auto;
  padding: 1rem;
  color: #000;
  &.single-blog-page {
    .s-b-main-page {
      .bannar-section {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgb(23, 32, 43);
          background: linear-gradient(
            0deg,
            rgb(23, 32, 43) 0%,
            rgb(23, 32, 43) 0%,
            rgba(23, 32, 43, 0) 100%
          );
        }
        img {
          width: 100%;
          height: 500px;
          object-fit: cover;
          object-position: top;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }

        .dis-sectio {
          position: absolute;
          bottom: 1rem;
          left: 2rem;
          color: #fff;
          .tag {
            font-weight: 700;
            color: #ffffff;
            background: border-box;
            text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
              #9d2dff 0px 0px 20px, #9d2dff 0px 0px 30px, #9d2dff 0px 0px 40px,
              #9d2dff 0px 0px 50px, #9d2dff 0px 0px 75px;

            &:hover {
              text-decoration: underline;
            }
            i {
            }
          }
          h1 {
            margin-top: 1rem;
          }
        }
      }

      .post-admin {
        margin: 3rem 0;
        margin-top: 0;
        background-color: $gray-col;
        padding: 2rem;

        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        .post-details {
          letter-spacing: 1.5px;
          .date {
            font-size: 14px;
          }
          .user-name {
            font-size: 16px;
            font-weight: 700;
          }
        }
        .reading-time {
        }
        h2 {
          margin-top: 2rem;
        }
      }

      .content-section {
        max-width: 1200px;
        margin: auto;

        p {
          .first-text {
            font-size: 40px;
          }
        }
        .b-p-image {
          img {
            width: 100%;
            border-radius: 15px;
            object-fit: cover;
          }
          p {
            color: #00000085;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
          }
        }

        .warngin-text {
          background-color: $ppl-col;
          padding: 2rem;
          border-radius: 15px;
          p {
            i {
              color: #fff;
            }
          }
        }

        .footer-text {
          text-align: center;
          margin: 2rem 0;
        }

        .share-blog {
          display: flex;
          justify-content: flex-end;
          .btn {
            box-shadow: 0 4px 9px -4px #3b71ca;
          }
        }
      }

      .comment-section {
        section {
          border-radius: 15px;
          h6 {
            color: $ppl-col;
          }
          .l-c-s-section {
            a {
              color: $ppl-col;
            }
          }
        }
        .commnet-button {
          button {
            box-shadow: 0 4px 9px -4px rgba(0, 0, 0, 0.35);
          }
        }
      }

      .n-card-section {
        padding: 0 1rem;
        @include xsm {
          padding: 0;
        }
        @include md {
          padding: 0 1rem;
        }
        .s-s-title {
          h1 {
            @include sectionHead;
            text-transform: capitalize;
            margin: 3rem 0;
          }
        }
        .row {
          .col-md-3 {
            @include md {
              width: 50%;
            }
            @include l {
              width: 25%;
            }
            .each-card {
              margin: 1rem 0;
              .card {
                .card-body {
                  .card-title {
                    @include xsm {
                      font-size: 16px;
                    }
                    @include md {
                      font-size: 18px;
                    }
                    @include l {
                      font-size: 20px;
                    }
                  }
                  .card-text {
                    @include xsm {
                      font-size: 12px;
                    }
                    @include md {
                      font-size: 14px;
                    }
                    @include l {
                      font-size: 16px;
                    }
                  }
                  .card-footer-scetion {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid $gray-col;
                    padding-top: 1rem;
                    .coun {
                    }
                    .days {
                      color: #0000006b;
                      i {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
