@import "./variabls";

.custom-container {
  margin: auto;
  padding: 1rem;
  &.who-we-are-page {
    h3 {
      text-align: center;
    }
    .our-bord-section {
      color: #000;
      padding: 0 2rem;

      @include xsm {
        padding: 0;
      }
      .o-bord-sec {
        h1 {
          @include sectionHead;
          margin: 3rem 0;
          .one {
            @include green;
          }
          .two {
            @include ppl;
          }

          @include xsm {
            font-size: 35px;
          }
          @include md {
            font-size: 45px;
          }
          @include l {
            font-size: 75px;
          }
        }
        .big-card {
          margin: 1rem;
          .main-card {
            @include memberCard;
            @include memberInnerCard;
            img {
              @include memberCardImg;

              @include xsm {
                width: 80px;
                height: 80px;
              }
              @include sm {
                width: 120px;
                height: 120px;
              }
              @include md {
                width: 140px;
                height: 140px;
              }
              @include l {
                width: 180px;
                height: 180px;
              }
              @include xl {
                width: 200px;
                height: 200px;
              }
            }
            h3 {
              @include xsm {
                font-size: 16px;
              }
              @include md {
                font-size: 18px;
              }
              @include l {
                font-size: 20px;
              }
              @include xl {
                font-size: 24px;
              }
            }
            h4 {
              @include xsm {
                font-size: 14px;
              }
              @include md {
                font-size: 16px;
              }
              @include l {
                font-size: 18px;
              }
              @include xl {
                font-size: 20px;
              }
            }
            p {
              text-align: center;
              margin-top: 2rem;
              @include xsm {
                font-size: 12px;
              }
              @include md {
                font-size: 14px;
              }
              @include l {
                font-size: 16px;
              }
              @include xl {
                font-size: 18px;
              }
            }
          }
        }
        .small-card {
          margin: 1rem;
          .row {
            justify-content: center;
            .col-md-6 {
              .main-s-card {
                margin: 1rem 0;
                @include memberCard;
                @include memberInnerCard;
                img {
                  @include memberCardImg;

                  @include xsm {
                    width: 80px;
                    height: 80px;
                  }
                  @include sm {
                    width: 120px;
                    height: 120px;
                  }
                  @include md {
                    width: 140px;
                    height: 140px;
                  }
                  @include l {
                    width: 180px;
                    height: 180px;
                  }
                  @include xl {
                    width: 200px;
                    height: 200px;
                  }
                }
                h3 {
                  @include xsm {
                    font-size: 16px;
                  }
                  @include md {
                    font-size: 18px;
                  }
                  @include l {
                    font-size: 20px;
                  }
                  @include xl {
                    font-size: 24px;
                  }
                }
                h4 {
                  @include xsm {
                    font-size: 14px;
                  }
                  @include md {
                    font-size: 16px;
                  }
                  @include l {
                    font-size: 18px;
                  }
                  @include xl {
                    font-size: 20px;
                  }
                }
                p {
                  text-align: center;
                  margin-top: 2rem;
                  @include xsm {
                    font-size: 12px;
                  }
                  @include md {
                    font-size: 14px;
                  }
                  @include l {
                    font-size: 16px;
                  }
                  @include xl {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .our-advisory-panel {
      color: #000;
      padding: 0 2rem;
      @include xsm {
        padding: 0;
      }
      .main-a-p-section {
        h1 {
          @include sectionHead;
          margin: 3rem 0;
          .one {
            @include green;
          }
          .two {
            @include ppl;
          }

          @include xsm {
            font-size: 35px;
          }
          @include md {
            font-size: 45px;
          }
          @include l {
            font-size: 75px;
          }
        }
        .row {
          .col-md-6 {
            .a-main-s-card {
              margin: 1rem 0;
              @include memberCard;
              @include memberInnerCard;
              img {
                @include memberCardImg;

                @include xsm {
                  width: 80px;
                  height: 80px;
                }
                @include sm {
                  width: 120px;
                  height: 120px;
                }
                @include md {
                  width: 140px;
                  height: 140px;
                }
                @include l {
                  width: 180px;
                  height: 180px;
                }
                @include xl {
                  width: 200px;
                  height: 200px;
                }
              }
              h3 {
                @include xsm {
                  font-size: 16px;
                }
                @include md {
                  font-size: 18px;
                }
                @include l {
                  font-size: 20px;
                }
                @include xl {
                  font-size: 24px;
                }
              }
              h4 {
                @include xsm {
                  font-size: 14px;
                }
                @include md {
                  font-size: 16px;
                }
                @include l {
                  font-size: 18px;
                }
                @include xl {
                  font-size: 20px;
                }
              }
              p {
                text-align: center;
                margin-top: 2rem;
                @include xsm {
                  font-size: 12px;
                }
                @include md {
                  font-size: 14px;
                }
                @include l {
                  font-size: 16px;
                }
                @include xl {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }

    .our-team-section {
      color: #000;
      padding: 0 2rem;
      @include xsm {
        padding: 0;
      }
      .main-team {
        h1 {
          @include sectionHead;
          margin: 3rem 0;
          .one {
            @include green;
          }
          .two {
            @include ppl;
          }

          @include xsm {
            font-size: 35px;
          }
          @include md {
            font-size: 45px;
          }
          @include l {
            font-size: 75px;
          }
        }

        .tab-section {
          ul {
            align-items: flex-start;
            justify-content: flex-start;
            overflow-x: scroll;
            flex-wrap: nowrap;
            width: 100%;
            display: flex;
            -ms-overflow-style: none;
            scrollbar-width: none;
            li {
              .nav-link {
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                width: max-content;
                &.active {
                  color: $green-col;
                  border-color: $green-col;
                  background: #fff;
                }
                @include xsm {
                  font-size: 10px;
                  padding: 1rem;
                }
                @include sm {
                  font-size: 11px;
                }
                @include md {
                  font-size: 12px;
                  padding: 1rem 1.3rem;
                }
                @include l {
                  font-size: 14px;
                  padding: 1rem 1.5rem;
                }
                @include xl {
                  font-size: 16px;
                  padding: 1rem 2rem;
                }
                @include xxl {
                  font-size: 18px;
                }
              }
            }
          }

          .tab-content {
            padding: 0 3rem;
            @include xsm {
              padding: 0;
            }
            .tab-pane {
              .tab-cards {
                .row {
                  .col-md-4 {
                    .main-tabs-card {
                      margin: 1rem 0;
                      @include memberCard;
                      @include memberInnerCard;
                      img {
                        @include memberCardImg;

                        @include xsm {
                          width: 80px;
                          height: 80px;
                        }
                        @include sm {
                          width: 120px;
                          height: 120px;
                        }
                        @include md {
                          width: 140px;
                          height: 140px;
                        }
                        @include l {
                          width: 180px;
                          height: 180px;
                        }
                        @include xl {
                          width: 200px;
                          height: 200px;
                        }
                      }
                      h3 {
                        @include xsm {
                          font-size: 16px;
                        }
                        @include md {
                          font-size: 18px;
                        }
                        @include l {
                          font-size: 20px;
                        }
                        @include xl {
                          font-size: 24px;
                        }
                      }
                      h4 {
                        @include xsm {
                          font-size: 14px;
                        }
                        @include md {
                          font-size: 16px;
                        }
                        @include l {
                          font-size: 18px;
                        }
                        @include xl {
                          font-size: 20px;
                        }
                      }
                      p {
                        text-align: center;
                        margin-top: 2rem;
                        @include xsm {
                          font-size: 12px;
                        }
                        @include md {
                          font-size: 14px;
                        }
                        @include l {
                          font-size: 16px;
                        }
                        @include xl {
                          font-size: 18px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include xxxl {
    max-width: 1900px;
  }
}
