@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: Gilroy;
  src: url(../font/Gilroy-ExtraBold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Gilroy;
  src: url(../font/Gilroy-Light.otf);
  font-weight: light;
}

body {
  font-family: "Open Sans", sans-serif;
}
.btn {
  box-shadow: 3px 3px 4px 0px #313131, 0px 0 0 #000000;
  font-weight: 700;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.nav.nav-tabs::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nav.nav-tabs {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.custom-container {
  padding-top: 0 !important;
}
@import "./navBar";
@import "./footer";
@import "./variabls";
@import "./homepage";
@import "./prv-blog-slider";
@import "./who-we-are";
@import "./notice-bord";
@import "./single-blog";
