.slider-rotate__arrow i {
  font-size: 46px;
}

.position {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 30px;
  display: none;
}

.slider-rotate {
  margin: 0 auto;
  background-color: #000000;
}

.slider-rotate__container {
  margin: 0 auto;
}

#slider-2 {
  margin: 50px 0;
  background: #ffffff;
}

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */

/* --                       PLUGIN                      -- */

/* ------------------------------------------------------- */

.slider-rotate__container {
  position: relative;
  width: 100%;
  height: 500px;
  visibility: hidden;
}

/*  --------------------------------------------------  */

/*  --              ITEMS DISPLAY                     --*/

/*  --------------------------------------------------  */

.slider-rotate__item {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);
  -moz-transform: translateY(-50%) translateX(-50%) scale(0.8);
  -ms-transform: translateY(-50%) translateX(-50%) scale(0.8);
  -o-transform: translateY(-50%) translateX(-50%) scale(0.8);
  transform: translateY(-50%) translateX(-50%) scale(0.8);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider-rotate__item.slider-rotate__item--next {
  left: 74%;
}

.slider-rotate__item.slider-rotate__item--prev {
  left: 26%;
}

.slider-rotate__item.slider-rotate__item--prev,
.slider-rotate__item.slider-rotate__item--next {
  opacity: 0.7;
  z-index: 2;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
}

.slider-rotate__item.slider-rotate__item--next-2 {
  left: 90%;
}

.slider-rotate__item.slider-rotate__item--prev-2 {
  left: 10%;
}

.slider-rotate__item.slider-rotate__item--next-2,
.slider-rotate__item.slider-rotate__item--prev-2 {
  opacity: 0.4;
  z-index: 2;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.3);
  -moz-transform: translateY(-50%) translateX(-50%) scale(0.3);
  -ms-transform: translateY(-50%) translateX(-50%) scale(0.3);
  -o-transform: translateY(-50%) translateX(-50%) scale(0.3);
  transform: translateY(-50%) translateX(-50%) scale(0.3);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
}

.slider-rotate__item.slider-rotate__item--active {
  z-index: 2;
  opacity: 1;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
  -moz-transform: translateY(-50%) translateX(-50%) scale(1);
  -ms-transform: translateY(-50%) translateX(-50%) scale(1);
  -o-transform: translateY(-50%) translateX(-50%) scale(1);
  transform: translateY(-50%) translateX(-50%) scale(1);
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -ms-filter: blur(0);
  -o-filter: blur(0);
  filter: blur(0);
}

/*  --------------------------------------------------  */

/*  --                    ARROWS                      --*/

/*  --------------------------------------------------  */

.slider-rotate__container .slider-rotate__arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-rotate__container .slider-rotate__arrow:hover {
  background: #ffffff;
}

.slider-rotate__container .slider-rotate__arrow:hover i {
  color: #000000;
}

.slider-rotate__container .slider-rotate__arrow.slider-rotate__arrow--left {
  left: 0;
}

.slider-rotate__container .slider-rotate__arrow.slider-rotate__arrow--right {
  right: 0;
}

.gallery-section .arrowLeft {
  border: 0.5px rgba(0, 0, 0, 0.3) solid;
  padding: 0.5rem 1rem;
  border-radius: 14px;
  font-size: 25px;
  cursor: pointer;
  background: #fff !important;
}

.gallery-section .arrowRight {
  border: 0.5px rgba(0, 0, 0, 0.3) solid;
  padding: 0.5rem 1rem;
  border-radius: 14px;
  font-size: 25px;
  cursor: pointer;
  background: #fff !important;
}
.gallery-section .arrowRight i,
.gallery-section .arrowLeft i {
  color: #000000;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.slider-rotate__item img {
  width: 720px;
}
